@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}
.overlay{
    background-color:  rgba(37, 41, 40, 0.6);
}
.form-text, .asteriskField{
    display:none;
}
.nav-img{
    height: 30px;
    width: 30px;
}
.col-form-label {
    font-weight: bold;
}
.editprofile{
    padding-bottom: 20px;
    padding-top: 10px;
}
.prof{
    padding:40px;
    border-radius:6px;
}
a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 20px 10px;
    background-color: #35495e;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

i,
span {
    display: inline-block;
}

.wrapper {
    display: flex;
    align-items: stretch;
}
.tt{
    color:#1a3e59;
}
.hpost{
   background-color:#1a3e59;
   color: white;
}
.poster{
    padding: 20px;
    border-radius: 6px;
}


.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

#content {
    width: 100%;
    padding-left: 0px;
    min-height: 100vh;
    transition: all 0.3s;
    background-image: url(/static/images/background.jpg);
    background-color: rgba(13, 14, 14, 0.6);
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-size: cover;
}

.button{
    border-color: mediumslateblue;
    color: blue;
}

.hoodie{
    padding-bottom: 20px;
    padding-top: 10px;
    margin-top: -1%;
}
