{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h1><strong style="color: aliceblue;">Log In!</strong></h1>
            <form action="" method="post" novalidate style="color: aliceblue;">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-sm btn-info">Login</button>
            </form>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>

{% endblock %}